<div class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid d-flex align-items-center">
        <a class="text-uppercase text-warning font-weight-bold mr-4" style="text-decoration:none" href="#">Название</a>
        <button class="navbar-toggler border-0 pr-0" data-toggle="collapse" data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <div class="d-flex justify-content-between align-items-center flex-grow-1 mt-1 mt-md-0">
                <div>
                    <a class="btn btn-light mr-1" href="#">Главная</a>
                    <a class="btn btn-light mr-1" href="#">Контакты</a>
                </div>
                <div>
                    <a class="btn btn-light" href="#">О нас</a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
